.cartCard{
    // background-color: gray;
    box-shadow: -6px 1px 20px 1px #f5eaea !important;
    border-radius: 10px;
}
.cartImg p{
    padding-top: 4.99rem;
}
.clearbtn{
    font-size: 15px !important;
}
.clearbtn:hover{
border: 1px solid darkmagenta !important;
background-color: white !important;
color: darkmagenta !important;
}